/* Container Layer */
.heroImageContainer {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  overflow: visible !important;
  z-index: 5;
}

.heroImageContainer::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 5;
  background: linear-gradient(to bottom, transparent 40%, white 100%);
  overflow: visible !important;
}

/* Bleed Root */
.bleedRoot {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: visible !important;
}

/* Root Layer */
.heroIllustrationRoot {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  height: 900px;
  overflow: visible !important;
}

.heroIllustrationRootPhone {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  height: 450px;
  overflow: visible !important;
}

/* Perspective Layer */
.heroIllustrationPerspective {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 4000px;
  perspective-origin: 100% 0;
  transform-style: preserve-3d;
  overflow: visible !important;
}

/* Base Layer with 3D Transforms */
.heroIllustrationBase {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background: transparent;
  width: 1600px;
  height: 900px;
  margin: 120px auto auto;
  transform: translateX(2%) scale(1.2) rotateX(47deg) rotateY(31deg) rotate(324deg);
  transform-origin: top left;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  overflow: visible !important;
  z-index: 5;
  border-radius: 20px;
}

/* Phone-specific Base Layer with 3D Transforms */
.heroIllustrationBasePhone {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background: transparent;
  width: 350px;
  height: 675px;
  margin: 80px auto auto;
  transform: scale(0.7) rotateX(47deg) rotateY(21deg) rotate(330deg);
  transform-origin: top left;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  overflow: visible !important;
  z-index: 5;
  border-radius: 20px;
}

/* Ensure the image fills the transformed container */
.heroIllustrationBase img,
.heroIllustrationBasePhone img {
  border-radius: 20px;
}
